.hackmonBox {
  font-family: 'Silkscreen', cursive;
}

.playBtn {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 100px;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: normal;
  margin: auto;
  text-align: center;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 400;
}
