html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .ant-modal-wrap{
  top: auto !important;
  bottom: 80px !important;
} */

/* .rpgBoxModal { */
.rpgBoxModal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.rpgBoxModal .ant-modal-body {
  padding: 0 !important;
}

.ant-message-notice-content {
  background: none !important;
  box-shadow: none !important;
  background-image: url(../public/assets/imgs/frame.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

/* } */

.npcTitle {
  font-size: 30px;
}

.font30 {
  font-size: 30px;
}

.font20 {
  font-size: 20px;
}

.width400 {
  width: 400px;
}

.width500 {
  width: 500px;
}

.ml50 {
  margin-left: 30px;
}

.hackerBox {
  display: flex;
}

.monsterBox {
  display: flex;
  justify-content: space-between;
}

.monsterPng img {
  /* height: 300px */
  height: 256px;
}

.action {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.actionItem1 {
  color: red;
  cursor: pointer;
}

.actionItem2 {
  color: green;
  cursor: pointer;
}

.package img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
}

.boxOnChain {
  font-size: 20px;
  color: red;
  margin-left: 20px;
  cursor: pointer;
}

.ant-checkbox-group {
  display: flex !important;
}

/* talk */

.aiTalk {
  float: left;
  display: block;
  padding: 0 10px;
  background: #feffe6;

  color: #666;
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
}

.aiTalk::after {
  position: absolute;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: -3px;
  background: inherit;
  transform: rotate(45deg);
}

.hackerTalk {
  float: right;
  display: block;
  margin-left: 40px;
  background: #fff1f0;
  padding: 0 10px;
  color: red;
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
}

.hackerTalk::after {
  position: absolute;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  top: 37%;
  right: -2px;
  background: inherit;
  transform: rotate(45deg);
}

/* .clearfix:before {
  content: '.';
  height: 0;
  display: block;
  clear: both;
} */

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  max-height: 420px;
}

.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.chat-message-left {
  align-self: flex-start;
  background-color: #eee;
}

.chat-message-right {
  align-self: flex-end;
  background-color: #b9f6ca;
}
