.containerBox {
  background: #22251b;
  font-family: 'Silkscreen', cursive;
}

.main {
  min-height: 100vh;
  padding: 0 0 14rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
  margin-bottom: 50px;
}

.link{
  font-size: 40px;
  margin-top: 40px;
  display: block;
}